.rules-container {
    position: absolute;
    inset: 0;
    overflow: hidden auto;
    padding-right: 2rem;
    color: var(--color--gray--lighter);
}

.rules--text {
    text-align: justify;
}

.rulebook {
    margin-top: 1rem;
    width: 100%;
    height: calc(100 * var(--vh) - 16rem);
    overflow: hidden auto;
}
