.rules-container {
    position: absolute;
    inset: 0;
    overflow: hidden auto;
    padding-right: 1rem;
    text-align: justify;
}

h5.rules-section-header {
    color: #f55;
    margin: 2rem 0 0.5rem 0;
}

.rulebook {
    margin-top: 1rem;
    width: 100%;
    height: calc(100 * var(--vh) - 16rem);
    overflow: hidden auto;
}
