.start--bot-level {
    position: absolute;
    left: 6rem;
    bottom: 5px;
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
}

.start--bot-level.hidden {
    opacity: 0.5;
}

.start--bot-level-slider-label {
    position: relative;
    top: -1px;
    color: var(--color--gray--light);
}

.start--bot-level-slider {
    margin: 0 1rem;
}
