.start--players {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.start--bot-level {
    position: absolute;
    inset: 0.5rem 0 auto 8rem;
    display: flex;
    align-items: center;
}

.start--bot-level.hidden {
    opacity: 0.5;
}

.start--bot-level-slider-label {
    position: relative;
    top: -1px;
    color: var(--color--gray--light);
}

.start--bot-level-slider {
    margin: 0 1rem;
}
