.board {
    position: relative;
    margin: 0.5rem;
    width: var(--board-size);
    height: var(--board-size);
    outline: 1px solid #000;
}

.squares {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

.square {
    border: 1px solid #000;
    pointer-events: none;
}
.square.torii {
    background-repeat: no-repeat;
    background-size: calc(0.6 * var(--square-size));
    background-position: calc(0.2 * var(--square-size)) calc(0.22 * var(--square-size));
    opacity: 0.7;
}
.square.torii--blue {
    background-color: var(--color--blue);
    background-image: url('/img/torii/torii-blue.svg');
}
.square.torii--red {
    background-color: var(--color--red);
    background-image: url('/img/torii/torii-red.svg');
}
.square.selectable-source {
}
.square.selectable-target {
    border: 2px solid var(--color--gray--lighter);
    cursor: pointer;
    pointer-events: auto;
}
.square.selected {
    border-color: var(--color--gray--lighter);
    background-color: var(--color--gray--lighter);
    opacity: 0.7;
}

.piece {
    position: absolute;
    width: 18%;
    height: 18%;
    left: 1%;
    top: 1%;
    transition: all 500ms ease;
    background-size: contain;
    border: 2px solid var(--color--gray--darkest);
    border-radius: 50%;
}
.piece[data-name='s00'] {
    background-image: url('/img/pieces/s00.png');
}
.piece[data-name='s01'] {
    background-image: url('/img/pieces/s01.png');
}
.piece[data-name='m02'] {
    background-image: url('/img/pieces/m02.png');
}
.piece[data-name='s03'] {
    background-image: url('/img/pieces/s03.png');
}
.piece[data-name='s04'] {
    background-image: url('/img/pieces/s04.png');
}
.piece[data-name='s10'] {
    background-image: url('/img/pieces/s10.png');
}
.piece[data-name='s11'] {
    background-image: url('/img/pieces/s11.png');
}
.piece[data-name='m12'] {
    background-image: url('/img/pieces/m12.png');
}
.piece[data-name='s13'] {
    background-image: url('/img/pieces/s13.png');
}
.piece[data-name='s14'] {
    background-image: url('/img/pieces/s14.png');
}
.piece {
    pointer-events: none;
}
.piece.selectable-source,
.piece.selectable-target {
    cursor: pointer;
    pointer-events: auto;
}
.piece.selectable-source {
    border-color: var(--color--gray--lightest);
}
