.board {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    border: 1px solid green;
    width: var(--board-size);
    height: var(--board-size);
}

.square {
    border: 1px solid var(--color--gray--darker);
}

.temple--blue {
    background-color: var(--color--blue);
}

.temple--red {
    background-color: var(--color--red);
}
