.card {
    --card-height: 58px;
    --card-margin: 0.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--card-height);
    width: calc(50% - 1rem);
    border: 2px solid #000;
    border-radius: 4px;
    background-image: var(--bg);
    background-position: -100px -80px;
    padding: 0 2px;
    color: #000;
    pointer-events: none;
    user-select: none;
    transition: all 250ms linear;
}
.card-00 {
    left: var(--card-margin);
}
.card-01 {
    left: var(--card-margin);
    top: calc(var(--card-height) + var(--card-margin));
}
.card-02 {
    left: var(--card-margin);
    top: calc(2 * (var(--card-height) + var(--card-margin)));
}
.card-10 {
    left: calc(50% + var(--card-margin));
}
.card-11 {
    left: calc(50% + var(--card-margin));
    top: calc(var(--card-height) + var(--card-margin));
}
.card-12 {
    left: calc(50% + var(--card-margin));
    top: calc(2 * (var(--card-height) + var(--card-margin)));
}
.card.selectable {
    pointer-events: auto;
    cursor: pointer;
}
.card.selected {
}
.card.selectable > .card-cover {
    opacity: 0.4;
}
.card.selected > .card-cover {
    opacity: 0;
}

.card-name {
    margin: 2px 4px;
    align-self: start;
    font-family: 'Kaushan Script', 'cursive', serif;
    font-size: 1.125rem;
}

.card-grid {
    width: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.card.blue > .card-grid {
    transform: rotate(90deg);
}
.card.red > .card-grid {
    transform: rotate(-90deg);
}
.card-grid-square {
    background-color: var(--color--gray--darker);
    border: 1px solid var(--color--gray--darkest);
}
.card.blue .card-grid-square.source {
    background-color: var(--color--blue);
}
.card.red .card-grid-square.source {
    background-color: var(--color--red);
}
.card-grid-square.destination {
    background-color: var(--color--gray--light);
}
