.card {
    position: relative;
    margin-top: 0.5rem;
    width: calc(2 * var(--square-size));
    height: 66px;
    border: 2px solid #222;
    border-radius: 0.5rem;
    background-color: #222;
    padding: 2px 6px;
    font-size: 0.875rem;
    color: var(--color--gray--dark);
    pointer-events: none;
    user-select: none;
}

.card.blue {
}

.card.red {
}

.card.selectable {
    color: var(--color--gray--lighter);
    border: 2px solid var(--color--green);
    pointer-events: auto;
    cursor: pointer;
}

.card.selected {
    background-color: var(--color--green);
}

.card-grid {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 55px;
    height: 55px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

.card-grid-square {
    width: 10px;
    height: 10px;
    background-color: #333;
}

.card.blue .card-grid-square.source {
    background-color: var(--color--blue);
}

.card.red .card-grid-square.source {
    background-color: var(--color--red);
}

.card-grid-square.destination {
    background-color: var(--color--gray--medium);
}
