.game {
    --main-width: min(calc(100 * var(--vw)), 500px);
    --board-size: calc(var(--main-width) - 8rem);
    --square-size: calc(var(--board-size) / 5);
    display: grid;
    justify-content: center;
    align-content: start;
}

.main {
    display: grid;
    place-content: start;
    width: var(--main-width);
    padding: 1rem 4rem 0 4rem;
}
