.game {
    --board-size: calc(var(--main-width) - 1rem);
    --square-size: calc(var(--board-size) / 5);
}

.game-content {
    position: absolute;
    inset: 0;
    display: grid;
    justify-content: center;
}

.game--main {
    width: var(--main-width);
}

.game-over-cover {
    position: absolute;
    inset: 0;
}
