.game {
    --main-width: min(calc(100 * var(--vw)), 500px);
    --main-padding: 2rem;
    --board-size: calc(var(--main-width) - calc(2 * var(--main-padding)));
    --square-size: calc(var(--board-size) / 5);
    display: grid;
    justify-content: center;
    align-content: start;
}

.main {
    display: grid;
    place-content: start;
    width: var(--main-width);
    padding: var(--main-padding) var(--main-padding) 0 var(--main-padding);
}
