.hands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.hand {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.hand--blue {
    justify-content: start;
}

.hand--red {
    align-items: end;
}

.card {
    margin-top: 0.5rem;
    width: calc(2 * var(--square-size));
    height: 4rem;
    border: 2px solid #222;
    border-radius: 0.5rem;
    background-color: #222;
    padding: 0.5rem;
    font-size: 0.875rem;
    color: var(--color--gray--dark);
    pointer-events: none;
    user-select: none;
}

.card--blue {
}

.card--red {
}

.card--selectable {
    color: var(--color--gray--lighter);
    border: 2px solid var(--color--green);
    pointer-events: auto;
    cursor: pointer;
}

.card--selected {
    background-color: var(--color--green);
}
