.hands {
    margin: 1rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
}

.hand {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.125rem;
}
.hand--blue {
    justify-content: start;
}
.hand--red {
    align-items: end;
}
