.hands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.hand--blue {
}

.hand--red {
}

.card {
    height: 30px;
}

.card--usable {
    opacity: 1;
}

.card--waiting {
    opacity: 0.5;
}

.card--blue {
    color: blue;
}

.card--red {
    color: red;
}
