.hands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.hand {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.hand--blue {
    justify-content: start;
}

.hand--red {
    align-items: end;
}
