header {
    background-color: unset !important;
}
.header--link.header--link {
    color: #fff;
    transition: 250ms ease-in-out;
}
.header--link.header--link:hover,
.header--link.header--link:focus-visible {
    color: var(--link--color);
}
.header--link.active {
    color: var(--link--color);
    pointer-events: none;
}
