header {
    background-color: unset !important;
}
.header--link.header--link {
    color: #fff;
    transition: 250ms ease-in-out;
}
.header--link.header--link:hover,
.header--link.header--link:focus-visible {
    color: var(--link--color);
}
.header--link.active {
    color: var(--link--color);
    pointer-events: none;
}

.header--app-bar {
    height: 48px;
    user-select: none;
}

.header--toolbar.MuiToolbar-root {
    padding: 0 8px;
}

.header--logo-image {
    position: relative;
    top: 2px;
    left: 2px;
    max-height: 32px;
}
