.end--winner-piece-container {
    display: grid;
    place-items: center;
}
.end .end--winner-piece {
    position: unset;
    height: 18rem;
    width: 18rem;
    background-repeat: no-repeat;
    margin-top: 2rem;
}
