.end--title.end--title {
    font-family: var(--font-family--script);
}
.end--title.end--title--blue {
    color: var(--color--blue);
}
.end--title.end--title--red {
    color: var(--color--red);
}
.end--subtitle.end--subtitle {
    margin-left: 2px;
    color: var(--color--gray--light);
    font-family: var(--font-family--script);
}

.end--winner-piece-container {
    display: grid;
    place-items: center;
}
.end--winner-piece {
    width: 256px;
    margin-top: 4rem;
    border-radius: 50%;
}
