.progress {
    position: absolute;
    bottom: 0;
    width: 7px;
    transition: all 250ms linear;
}
.progress--blue {
    left: -8px;
    height: var(--progress--blue);
    background-color: var(--color--blue);
}
.progress--red {
    right: -8px;
    height: var(--progress--red);
    background-color: var(--color--red);
}
