.about--about-text {
    color: var(--color--gray--lighter);
    margin-top: 0.5rem;
}

.about--credits-label {
    color: var(--color--gray--lighter);
}
.about--credits-value {
    margin-left: 0.5rem;
    color: #fff;
}
