.MuiTypography-root.create--text {
    color: var(--color--gray--lighter);
}

.create--army-color-text {
    color: var(--color--blue);
    text-transform: uppercase;
    font-weight: 700;
}

.create--id {
    color: #fff !important;
    margin: 0.5rem 0 !important;
}
