*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover,
a:focus-visible,
a:active,
a:visited {
    color: var(--link--color);
    text-decoration: none;
}

:root {
    --vw: vw;
    --vh: vh;
    height: calc(100 * var(--vh));
    margin: 0;
    padding: 0;
    --bg: url('/img/bg/0.png');
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family--default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-color: #111 !important;
    color: #fff !important;
}

.app {
    background-color: #111 !important;
    background-image: var(--bg);
    background-size: cover;
    display: grid;
    place-items: center;
}

.root {
    --main-width: min(calc(100 * var(--vw)), 500px);
    width: var(--main-width);
    background-color: #111 !important;
    background-image: var(--bg);
    background-size: cover;
}
