@font-face {
    font-family: Play;
    font-style: normal;
    font-weight: 400;
    src: url('../font/play-regular.ttf') format('truetype');
}
@font-face {
    font-family: Play;
    font-style: normal;
    font-weight: 700;
    src: url('../font/play-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../font/kaushan-script-regular.ttf') format('truetype');
}
:root {
    --font-family--default: 'Play', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    --font-family--script: 'Kaushan Script', 'cursive', serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
