.cursor--pointer {
    cursor: pointer;
}

.full-screen-height {
    height: calc(100 * var(--vh));
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.height--100 {
    height: 100%;
}

.overflow--hidden {
    overflow: hidden;
}

.place-items--center {
    place-items: center;
}

.pointer-events--none {
    pointer-events: none;
}

.position--absolute {
    position: absolute;
}

.position--relative {
    position: relative;
}

.cover {
    position: absolute;
    inset: 0;
    background-color: #000;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-padding {
    padding: 2rem;
}

.action-buttons {
    margin-top: 2rem;
    display: flex;
}

.action-buttons > .action-button {
    margin-left: 1rem;
    width: 6rem;
}
.action-buttons > .action-button:first-child {
    margin-left: 0;
}
