.cursor--pointer {
    cursor: pointer;
}

.full-screen-height {
    height: calc(100 * var(--vh));
}

.grid {
    display: grid;
}

.height--100 {
    height: 100%;
}

.overflow--hidden {
    overflow: hidden;
}

.place-items--center {
    place-items: center;
}

.pointer-events--none {
    pointer-events: none;
}

.position--absolute {
    position: absolute;
}

.position--relative {
    position: relative;
}
