.MuiTypography-root.join--text {
    color: var(--color--gray--lighter);
}

.join--army-color-text {
    color: var(--color--red);
    text-transform: uppercase;
    font-weight: 700;
}

.join--game-id {
    margin-top: 1rem !important;
    width: 100%;
}

.join--game-id input#game-id {
    width: 50%;
    font-size: 3rem;
    color: #fff;
}
