.init.page .MuiFormGroup-root {
    margin-bottom: 1rem;
}

.init.page .MuiFormControlLabel-label {
    position: relative;
    top: 1px;
}

.init--players {
    display: flex;
    gap: 0.5rem;
}

.MuiInputLabel-root.blue-select-label {
    color: var(--color--blue);
}
.MuiInputLabel-root.red-select-label {
    color: var(--color--red);
}
