.error {
    --main-width: min(calc(100 * var(--vw)), 500px);
    width: var(--main-width);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: #111 !important;
    background-image: var(--bg);
    background-size: cover;
}
